{
  "extends": [
    "plugin:@shopify/node",
    "plugin:@shopify/esnext",
    "plugin:@shopify/typescript",
    "plugin:@shopify/typescript-type-checking"
  ],
  "rules": {
    "quotes": [
      "error",
      "double",
      "avoid-escape"
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "indent-legacy": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "no-trailing-spaces": "off",
    "one-var": "off",
    "arrow-parens": "off",
    "no-return-assign": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "no-warning-comments": "off",
    "@shopify/binary-assignment-parens": "off",
    "@typescript-eslint/no-extra-parens": "off",
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "@typescript-eslint/array-type": [
      "error",
      {
        "default": "array"
      }
    ],
    "promise/catch-or-return": "off",
    "no-console": "warn",
    "@typescript-eslint/no-unnecessary-condition": "off"
  },
  "parserOptions": {
    "project": "tsconfig.json"
  }
}
